body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*menu bar items*/
.menubtn {
    position: absolute;
    float: left;
    font-size: 25px;
    z-index:5
}

.btn-whte {
    color: white;
    font-size: medium;
}

    .btn-whte::after {
        color: white;
    }

    .btn-whte:hover {
        color: white;
    }

@media only screen and (max-width: 600px) {
    .row {
        row-gap: 10px
    }
}

.row {
    row-gap: 10px
}

.nav-iconsRH {
    width: 65px;
    height: 65px;
    background-color: white;
    color: #44c3f3;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1pt;
    border-style: solid;
    border-color: #44c3f3;
    box-shadow: 0px 0px 1px 1px #888888;
}

.tabDivDisplay {
    transition: transform ease 300ms;
}

.tabDivDisplay:hover {
    transform: translate(0, -10px);
}

#allorders-sect {
    height: 45vh;
    overflow-y: scroll;
    border-style: solid;
    border-color: grey;
    border-width: 0.2px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 2px #888888;
}
#allorders-sect::-webkit-scrollbar {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
#allorders-sect::-webkit-scrollbar-thumb {
    background-color: lightgray;   
    border-style: solid;
    border-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width:20%;
}
#allorders-sect::-webkit-scrollbar-thumb:hover {
    background-color: grey;  
    transition: ease-in 0.2s;
}

#tbheaders{
    position: fixed;
}

#log-nav {
    color: white;
    font-family: sans-serif;
    position: absolute;
    right: 0px;
    float: right;
    border-radius: 50px;
    padding-right: 10px
}

.brading{
    color: white;
    font-family:sans-serif;
    font-weight: bold;
}

.br-image {
    border-radius: 50px;
    float: right;
    width: 4.5%;
}

.greenclr {
    color: yellowgreen;
}

.redclr {
    color: red;
}
.orangepclr {
    color:#F89618;
}

@media only screen and (max-width: 600px) {
    .smallscreennotshow {
        display: none
    }

    .br-image {
        width: 10%;
    }
}

/* Icon images */
.icnImg {
    width:20px;
}

@media only screen (max-width: 600px){
    .icnImg {
        width: 20px;
    }
}

.indcatorbar {
    border-radius: 20px;
    width: inherit;
    padding: 2px 15px 2px 15px;
}

.red-bg{
    background-color: lightcoral;
    font-weight: bold;
    color: red;
}

.orange-bg {
    background-color: orange;
    font-weight: bold;
    color: orangered;
}

.yellowgreen-bg {
    background-color: lightgreen;
    font-weight: bold;
    color: limegreen;
}