body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*menu bar items*/
.menubtn {
    position: absolute;
    float: left;
}

.btn-whte {
    color: white;
    font-size: medium;
}

    .btn-whte::after {
        color: white;
    }

    .btn-whte:hover {
        color: white;
    }

@media only screen and (max-width: 600px) {
    .row {
        row-gap: 10px
    }
}

@media only screen and (max-width: 600px) {
    .smallscreennotshow {
        display: none
    }
}

.nav-iconsRH {
    width: 65px;
    height: 65px;
    background-color: white;
    color: #44c3f3;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1pt;
    border-style: solid;
    border-color: #44c3f3;
    box-shadow: 0px 0px 1px 1px #888888;
}

.tabDivDisplay {
    transition: transform ease 300ms;
}

.tabDivDisplay:hover {
    transform: translate(0, -10px);
}

.greenclr{
    color: yellowgreen;
}

.redclr{
    color: red;
}

#allorders-sect {
    height: 45vh;
    overflow-y: scroll;
    border-style: solid;
    border-color: grey;
    border-width: 0.2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 2px 2px #888888;
}
