@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.ClientsVm
@{
    ViewBag.Title = "Add";
    var lastcli = Model.Clients.Take(1).ToList();
}

<h2><i class="fa-solid fa-user-plus mr-3"></i> Add a new Client</h2>

<div class="form-group">
    <label for="lastcli">last client added</label>
    <input type="text" class="form-control" disabled id="lastcli" name="lastcliient" value="@lastcli[0].CLIENT_ID"/>
</div>

<h3>New client details</h3>
<div class="form-group">
    <label for="cliName">Name and surname</label>
    <input type="text" class="form-control" id="cliName" name="name" />
</div>
<div class="form-group">
    <label for="phoneNum">Phone number</label>
    <input type="text" class="form-control" id="phoneNum" name="phone" />
</div>
<div class="form-group">
    <label for="emailAddress">Email Address</label>
    <input type="email" class="form-control" id="emailAddress" name="email" />
</div>
<div class="form-group">
    <label for="address">Physical Address</label>
    <input type="text" class="form-control" id="address" name="physicalAddress" />
</div>
<div class="form-group">
    <label for="contactP">Contact Person</label>
    <input type="text" class="form-control" id="contactP" name="contactPerson" />
</div>
