@model List<Riverside_Hodlings___System01___Db2___Ent_Framework.Models.CLIENT>
@{
    ViewBag.Title = "DeleteClient";
}

<h2>Delete Client</h2>

<p>
    Are you sure you want to delete @Model[0].NAME with Id @Model[0].CLIENT_ID
</p>

@Html.ActionLink("Yes", "ConfirmDelete", "ManageClients", new { clientid=Model[0].CLIENT_ID }, new { @class = "btn btn-success" })
<a href="/Home/Clients" class="btn btn-danger">Cancel</a>

