@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.DashboardVM
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Dashboard <i class="fa fa-tachometer"></i></h2>
<h4>Summary info</h4>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
</div>