@model Riverside_Hodlings___System01___Db2___Ent_Framework.Models.DashboardVM
@{
    ViewBag.Title = "Home Page";
}

<h2>Dashboard <i class="fa fa-tachometer"></i></h2>
<h4>Summary info</h4>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
</div>