
@{
    ViewBag.Title = "Home Page";
}

<h1>Clients</h1>
<h4>No. of clients @Model.Count</h4>
<table class="table table-striped">
    <thead>
        <th><b>#</b></th>
        <th>Client ID</th>
        <th>Name</th>
    </thead>
    <tbody>
        @*@foreach(var client in Model)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }*@
    </tbody>
</table>